<div class="col-sm-12 col-xs-12">
  <h4>Attendance</h4>
  <a href="javascript:void(0)" (click)="addEntry()">Add Entry</a>
  <p><a *ngIf="data" href="javascript:void(0)" (click)="exportExcel()">Export to excel</a></p>
  <br />
  <br />
  <p *ngIf="!data">Loading...</p>
  <div *ngIf="data" class="col-sm-12 col-xs-12">
    <div class="col-sm-3 col-xs-3">Name</div>
    <div class="col-sm-3 col-xs-3">Sewa</div>
    <div class="col-sm-3 col-xs-3">Start Time</div>
    <div class="col-sm-3 col-xs-3">End Time</div>
  </div>
  <hr>
  <div class="col-sm-12 col-sm-xs" *ngFor="let i of data">
    <div class="col-sm-3 col-xs-3">{{i.name}}</div>
    <div class="col-sm-3 col-xs-3">{{i.sewa}}</div>
    <div class="col-sm-3 col-xs-3">{{i.startTime}}</div>
    <div class="col-sm-3 col-xs-3">{{i.endTime}}</div>
  </div>
</div>