<div class="col-sm-12 col-xs-12">
  <h4>Attendance</h4>
  <a href="javascript:void(0)" (click)="addEntry()">Add Entry</a>
  <p><a *ngIf="data" href="javascript:void(0)" (click)="exportExcel()">Export to excel</a></p>
  <br />
  <br />
  <p *ngIf="!data">Loading...</p>
  <div class="table-responsive">
    <table *ngIf="data" class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Name</th>
          <th>Sewa</th>
          <th>Date</th>
          <th>Start Time</th>
          <th>End Time</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let i of data">
          <td>{{i.name}}</td>
          <td>{{i.sewa}}</td>
          <td>{{i.date}}</td>
          <td>{{i.startTime}}</td>
          <td>{{i.endTime}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>