<div class="col-sm-12 col-xs-12">
    <h4>Daily Sewa App</h4>
    <a href="javascript:void(0)" (click)="listing()">See Listing</a>
    <hr>
    <mat-form-field>
        <input type="text" placeholder="Name" aria-label="Number" matInput [(ngModel)]="entity.name"
            (ngModelChange)="onNameChange($event)" [matAutocomplete]="autoName">
        <mat-autocomplete #autoName="matAutocomplete">
            <mat-option *ngFor="let option of filteredNameOptions" [value]="option">
                {{ option }}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
    <br />

    <mat-form-field>
        <input type="text" placeholder="Sewa" aria-label="Text" matInput [(ngModel)]="entity.sewa"
            (ngModelChange)="onSewaChange($event)" [matAutocomplete]="autoSewa">
        <mat-autocomplete #autoSewa="matAutocomplete">
            <mat-option *ngFor="let option of filteredSewaOptions" [value]="option">
                {{ option }}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
    <br />

    <mat-form-field>
        <input matInput [matDatepicker]="datepickerRef" [(ngModel)]="date" required readonly>
        <mat-datepicker-toggle matSuffix [for]="datepickerRef"></mat-datepicker-toggle>
        <mat-datepicker #datepickerRef></mat-datepicker>
    </mat-form-field>
    <br />

    <label>Start time: </label>
    <input type="text" [(ngModel)]="entity.startTime" class="form-control" />

    <label>End time: </label>
    <input type="text" [(ngModel)]="entity.endTime" class="form-control" />
    <hr>
    <div class="col-sm-6 col-xs-6 col-xs-offset-4">
        <button class="btn btn-primary" [disabled]="!validateForm()" (click)="saveRecord()">Save</button>
    </div>
</div>